<!-- bottom-nav.component.html -->
<nav>
    <div class="nav-item" routerLink="/home" routerLinkActive="active">
      <i class="material-icons">home</i>
      <span>Home</span>
    </div>
    <div class="nav-item" routerLink="/profile" routerLinkActive="active">
      <i class="material-icons">person</i>
      <span>Profile</span>
    </div>
    <div class="nav-item" routerLink="/missions" routerLinkActive="active">
      <i class="material-icons">flag</i>
      <span>Missions</span>
    </div>
    <div class="nav-item" routerLink="/stats" routerLinkActive="active">
      <i class="material-icons">bar_chart</i>
      <span>Stats</span>
    </div>
  </nav>